:root {
  --hogwarts-gold: #edb528;
  --dark-background: #3c2e23;
  --card-background: rgb(251, 249, 244);
  --text-color: #513e2c;
  --border-color: #826b55;
  --card-button: #3c2e23;
  --bookmark-filled: rgb(163, 34, 34);
}

section {
  margin: 10%;
}

.card {
  position: relative;
  background-color: rgb(251, 249, 244);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 20px;
  margin: 7% 10%;
  box-shadow: 0 4px 10px rgb(216, 215, 211);
  text-align: center;
  color: var(--text-color);
}

/* Bookmark */

.bookmark {
  position: absolute;
  top: -10px;
  right: 10px;
  background: rgb(251, 249, 244);
  border: none;
  padding: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.bookmark svg {
  position: absolute;
  filter: drop-shadow(0 3px 3px rgba(0, 0, 0, 0.25));
}

.bookmark-toggle {
  display: none;
}

.bookmark:hover svg {
  transform: translateY(-2px);
}

.bookmark-outline {
  display: block;
  fill: var(--text-color);
}

.bookmark-filled {
  display: none;
  fill: var(--bookmark-filled);
}

.card:has(.bookmark-toggle:checked) .bookmark-outline {
  display: none;
}

.card:has(.bookmark-toggle:checked) .bookmark-filled {
  display: block;
}

.bookmark-page .card:has(.bookmark-toggle:not(:checked)) {
  opacity: 0.5;
  transition: all 0.75s ease;
}

/* Antwort-Button */

.card__button {
  display: inline-block;
  background-color: rgb(251, 249, 244);
  color: rgb(251, 249, 244);
  border: 2px solid var(--border-color);
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.15s ease;
  color: var(--card-button);
}

/* Button/Checkbox: inaktiv */

.card__button:hover {
  transform: translateY(-2px);
}

.hide-text {
  display: none;
}

.card__answer {
  display: none;
}

.answer-toggle {
  display: none;
}

/* Button/Checkbox: aktiv */

.card:has(.answer-toggle:checked) .card__button {
  background-color: var(--card-button);
  color: var(--hogwarts-gold);
}

.card:has(.answer-toggle:checked) .card__answer {
  display: block;
}

.card:has(.answer-toggle:checked) .show-text {
  display: none;
}

.card:has(.answer-toggle:checked) .hide-text {
  display: inline;
}

/* Tags */

.card__tags {
  display: flex;
  justify-content: left;
  list-style: none;
  gap: 1rem;
  padding: 10px 5% 0;
}

.tag {
  text-align: center;
  padding: 1.5% 5%;
  border: solid 1px var(--border-color);
  border-radius: 5px;
  background-color: rgb(233, 230, 227);
  color: var(--text-color);
}

/* Profil Page */
.profile-card {
  border: none;
  box-shadow: none;
  background: none;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin: 10%;
}

.profile__icon {
  width: 50px;
  height: 50px;
  opacity: 0.7;
}

.about__me {
  text-align: left;
}

.profile__tags {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  list-style: none;
  padding: 5% 5% 0;
}

.tag {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.tag__icon {
  width: 30px;
  height: 30px;
}

.settings {
  text-align: left;
}

.settings__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch {
  appearance: none;
  width: 44px;
  height: 24px;
  background: #ccc;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}

.switch::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: white;
  top: 3px;
  left: 3px;
  transition: transform 0.2s ease;
}

.switch:checked {
  background: var(--hogwarts-gold);
}

.switch:checked::before {
  transform: translateX(20px);
}
