:root {
  --hogwarts-gold: #edb528;
  --dark-background: #3c2e23;
  --card-background: rgb(251, 249, 244);
  --text-color: #513e2c;
  --border-color: #826b55;
  --card-button: #3c2e23;
  --bookmark-filled: rgb(163, 34, 34);
}

header {
  display: flex;
  align-items: center;
  /* width: 1fr; bei mobile ist die headerbar teils nicht komplett füllend von rechts nach links*/
  justify-content: space-between;
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: var(--dark-background);
  color: var(--hogwarts-gold);
  border-bottom: 3px solid var(--hogwarts-gold);
  padding: 10px;
  text-align: left;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.app-header h1 {
  margin: 0;
}

.app-header img {
  height: 60px;
}
