@import url(header.css);
@import url(cards.css);
@import url(footer.css);
@import url(forms.css);

/* allgemeine Styles */

:root {
  --hogwarts-gold: #edb528;
  --dark-background: #3c2e23;
  --card-background: rgb(251, 249, 244);
  --text-color: #513e2c;
  --border-color: #826b55;
  --card-button: #3c2e23;
  --bookmark-filled: rgb(163, 34, 34);
}

body {
  margin: 0;
  background-color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

main {
  padding-bottom: 4rem;
}
